---
import GithubIcon from "./icons/Github.astro";
import TwitterIcon from "./icons/Twitter.astro";
---

<footer
  class="flex items-center justify-between mx-4 sm:mx-20 md:mx-50 lg:mx-72 bg-gray-900/70 border-[1px] border-white/10 shadow-md mt-20 mb-5 px-5 py-2 rounded-full"
>
  <p class="text-yellow-300 text-sm font-medium">
    All rights reserved &copy; 2021
  </p>

  <div class="flex items-center justify-center gap-x-2">
    <a
      href="https://github.com/Medinaadev"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-300 hover:text-white transition"
    >
      <GithubIcon class="w-4 h-4" />
    </a>
    <a
      href="https://twitter.com/Medinaa_dev"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-300 hover:text-white transition"
    >
      <TwitterIcon class="w-4 h-4" />
    </a>
  </div>
</footer>
