<header class="sticky top-0 py-4 z-30">
  <div class="flex items-center justify-center mx-4 sm:mx-20 md:mx-64 lg:mx-80">
    <ul
      class="flex items-center justify-center gap-x-5 font-semibold bg-gray-900/70 backdrop-blur-md shadow-md border-[1px] border-white/10 px-4 py-1 rounded-full"
    >
      <li>
        <a href="/#proyectos" class="text-gray-300 hover:text-white transition"
          >Proyectos</a
        >
      </li>
      <li>
        <a href="/" class="text-gray-300 hover:text-white transition"
          >Sobre mí</a
        >
      </li>
      <li>
        <a href="/" class="text-gray-300 hover:text-white transition"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</header>
